Repository Nexmo/nexmo-developer, pull requests merged in 2018-10, with the labels that each got.

#1037 Add docs for MMS support
  .repos/nexmo/curl-building-blocks/config.sh
  .repos/nexmo/curl-building-blocks/messages/send-mms-basic-auth.sh
  _documentation/messages/building-blocks/send-mms-basic-auth.md
  _documentation/messages/overview.md
  _examples/messages/send-mms-basic-auth/curl.yml
Labels: messages-dispatch-api

#1041 Correct missed Beta flagging.
  _open_api/definitions/dispatch.yml
  _open_api/definitions/messages-olympus.yml
Labels: messages-dispatch-api, ready for review

#1018 Webhook documentation for Voice API answer and event URLs
  _documentation/concepts/guides/webhooks.md
  _documentation/voice/voice-api/guides/call-flow.md
  _documentation/voice/voice-api/webhook-reference.md
Labels: don't merge, ready for review

#1055 Add mention of external accounts.
  _documentation/dispatch/overview.md
  _documentation/messages/overview.md
Labels: messages-dispatch-api

#987 Feature/extend
  _extend/amazon-lex-connector.md
  _extend/azure-speech-to-text.md
  _extend/converse-ai.md
  _extend/google-ccml-Integration.md
  _extend/google-transcription.md
  _extend/ibm-watson-sms-sentiment-analysis.md
  _extend/ibm-watson-speech-to-text.md
  _extend/microsft-flow.md
  _extend/tags.txt
  _extend/voicebase-real-time-sentiment-analysis.md
  app/assets/stylesheets/_core.scss
  app/assets/stylesheets/nexmo.scss
  app/assets/stylesheets/objects/_extend.scss
  app/controllers/extend_controller.rb
  app/views/extend/index.html.erb
  app/views/extend/show.html.erb
  app/views/layouts/partials/_header.html.erb
  config/routes.rb
  public/assets/images/extend/amazon-lex-logo.jpg
  public/assets/images/extend/azure-icon.png
  public/assets/images/extend/converse_small.png
  public/assets/images/extend/emotion-analysis.png
  public/assets/images/extend/google_cloud_icon.png
  public/assets/images/extend/ibm_watson_avatar_purple.png
  public/assets/images/extend/msft_flow.png
  public/assets/images/extend/voicebase.png
  public/assets/images/extend/voicebase_logo.png
  public/assets/images/extend/watson-sms-sentiment-analysis.png
Labels: don't merge, ready for review

#1056 Add Messages, Dispatch and External Accounts APIs.
  app/views/api/index.html.erb
Labels: messages-dispatch-api

#1057 Modify building block prereq to specify create apps in Dashboard.
  .repos/nexmo/curl-building-blocks/messages/send-mms-basic-auth.sh
  _documentation/dispatch/building-blocks/before-you-begin.md
  _documentation/dispatch/building-blocks/send-a-facebook-message-with-failover.md
  _documentation/dispatch/building-blocks/send-a-viber-message-with-failover.md
  _documentation/messages/building-blocks/before-you-begin.md
  _documentation/messages/building-blocks/configure-webhooks.md
  _documentation/messages/building-blocks/inbound-message.md
  _documentation/messages/building-blocks/message-status.md
  _documentation/messages/building-blocks/send-a-viber-service-message.md
  _documentation/messages/building-blocks/send-a-whatsapp-message.md
  _documentation/messages/building-blocks/send-an-sms-with-messages-api.md
  _documentation/messages/building-blocks/send-mms-basic-auth.md
  _documentation/messages/building-blocks/send-with-facebook-messenger.md
  _examples/messages/send-mms-basic-auth/curl.yml
Labels: messages-dispatch-api

#1062 Add External Accounts API as sub-topic to Messages API.
  _documentation/dispatch/external-accounts/api-reference.md
  _documentation/dispatch/external-accounts/overview.md
  _documentation/messages/external-accounts/api-reference.md
  _documentation/messages/external-accounts/overview.md
  _documentation/messages/notices.md
  config/locales/en.yml
  config/redirects.yml
Labels: messages-dispatch-api

#1063 Simplify install and upgrade instructions for Node library.
  _partials/reusable/beta-node-client-library-messages-dispatch.md
Labels: messages-dispatch-api

#1030 Created ni.md
  _documentation/reporting/guides/ni.md
Labels: don't merge

#930 WIP: Messages applications
  _api/application.md
  _examples/api/application/messages/create-an-application/CURL
  _examples/api/application/messages/create-an-application/PHP
  _examples/api/application/messages/create-an-application/Python
  _examples/api/application/messages/create-an-application/Ruby
  _examples/api/application/messages/retrieve-your-applications/CURL
  _examples/api/application/messages/retrieve-your-applications/PHP
  _examples/api/application/messages/retrieve-your-applications/Python
  _examples/api/application/messages/retrieve-your-applications/Ruby
  _examples/api/application/messages/retrieve-your-applications/response.json
  _examples/api/application/shared/retrieve-your-applications/CURL
  _examples/api/application/shared/retrieve-your-applications/PHP
  _examples/api/application/shared/retrieve-your-applications/Python
  _examples/api/application/shared/retrieve-your-applications/Ruby
  _examples/api/application/voice/create-an-application/CURL
  _examples/api/application/voice/create-an-application/PHP
  _examples/api/application/voice/create-an-application/Python
  _examples/api/application/voice/create-an-application/Ruby
  _examples/api/application/voice/destroy-an-application/CURL
  _examples/api/application/voice/destroy-an-application/PHP
  _examples/api/application/voice/destroy-an-application/Python
  _examples/api/application/voice/destroy-an-application/Ruby
  _examples/api/application/voice/retrieve-an-application/CURL
  _examples/api/application/voice/retrieve-an-application/PHP
  _examples/api/application/voice/retrieve-an-application/Python
  _examples/api/application/voice/retrieve-an-application/Ruby
  _examples/api/application/voice/retrieve-your-applications/CURL
  _examples/api/application/voice/retrieve-your-applications/PHP
  _examples/api/application/voice/retrieve-your-applications/Python
  _examples/api/application/voice/retrieve-your-applications/Ruby
  _examples/api/application/voice/retrieve-your-applications/response.json
  _examples/api/application/voice/update-an-application/CURL
  _examples/api/application/voice/update-an-application/PHP
  _examples/api/application/voice/update-an-application/Python
  _examples/api/application/voice/update-an-application/Ruby
Labels: don't merge

#1079 Add some clarifications for external_id.
  _open_api/definitions/external-accounts.yml
Labels: messages-dispatch-api, ready for review

#1067 Add Dispatch WhatsApp block and message status and inbound message webhook servers
  .repos/nexmo-community/nexmo-node-quickstart/dispatch/send-failover-sms-whatsapp.js
  .repos/nexmo-community/nexmo-node-quickstart/messages/inbound-message.js
  .repos/nexmo-community/nexmo-node-quickstart/messages/message-status.js
  .repos/nexmo/curl-building-blocks/dispatch/send-whatsapp-message-with-failover.sh
  _documentation/dispatch/building-blocks/send-a-whatsapp-message-with-failover.md
  _documentation/messages/building-blocks/inbound-message.md
  _documentation/messages/building-blocks/message-status.md
  _examples/dispatch/send-whatsapp-message-with-failover/curl.yml
  _examples/dispatch/send-whatsapp-message-with-failover/node.yml
  _examples/messages/inbound-message/node.yml
  _examples/messages/message-status/node.yml
  app/views/building_blocks/_application_messages_dispatch.html.erb
Labels: messages-dispatch-api, ready for review

#1061 Number insight oas
  _open_api/definitions/number-insight.yml
  app/decorators/response_parser_decorator.rb
  app/views/open_api/_parameters.html.erb
  app/views/open_api/_response_descriptions.html.erb
Labels: don't merge

#1128 Add new Number Insight Advanced API tutorial
  _tutorials/number-insight-async-tutorial.md
Labels: ready for review

#1160 First draft of SMS delivery receipts guide
  _documentation/messaging/sms/guides/delivery-receipts.md
  public/assets/screenshots/da5f952d465355c19eb888fa1049844b31e090c2.png
  public/assets/screenshots/smsDeliveryReceiptsWebhook.png
Labels: ready for review

#1175 Fix TOC nav for subfolder items.
  app/javascript/packs/Navigation.js
Labels: ready for review
