Repository Nexmo/nexmo-developer, pull requests merged in 2019-12, with the labels that each got.

#2234 Update team page with recent moves
  config/team.yml
  spec/features/team_spec.rb
Labels: review-app

#2231 [DEVX-1882] Add new Management APIs tile.
  app/assets/stylesheets/objects/_card.scss
  app/assets/volta/scss/components/_card.scss
  app/views/static/_products.html.erb
  spec/features/landing_page_spec.rb
Labels: review-app

#2235 SIP - Minor change on getting set up.
  _documentation/en/voice/sip/concepts/programmable-sip.md
Labels: review-app

#2247 Send all feedback with a comment to a new channel
  app/models/feedback/feedback.rb
Labels: review-app

#2215 Make Tutorials and UseCases use DocFinder to select the corresponding
  app/controllers/tutorial_controller.rb
  app/controllers/use_case_controller.rb
  app/models/tutorial.rb
  config/initializers/doc_finder.rb
  spec/models/tutorial_spec.rb
Labels: review-app

#2244 Client SDK v2 create application
  _tutorials/en/client-sdk/create-application.md
Labels: review-app

#2251 Release notes for Nexmo ClientSDK iOS v1.2.1
  _documentation/en/client-sdk/sdk-documentation/ios/release-notes.md
Labels: review-app

#2200 App to app call
  _tutorials/en/client-sdk/app-to-app/call-code.md
  _tutorials/en/client-sdk/app-to-app/create-webhook-server.md
  _tutorials/en/client-sdk/app-to-app/receive-code.md
  _tutorials/en/client-sdk/app-to-app/run.md
  _tutorials/en/client-sdk/create-users.md
  _tutorials/en/client-sdk/generate-jwts.md
  _tutorials/en/run-ngrok.md
  config/tutorials/en/app-to-app.yml
  config/tutorials/en/in-app-messaging.yml
Labels: i18n fixed, review-app

#2239 Initial improvements to Overviews
  _documentation/en/client-sdk/in-app-messaging/overview.md
  _documentation/en/client-sdk/in-app-voice/overview.md
  _documentation/en/client-sdk/overview.md
Labels: Ready for Review, review-app

#2256 Bring back `Improve this page` link for docs.
  app/controllers/markdown_controller.rb
  spec/smoke_spec.rb
Labels: review-app

#2220 First draft of Velocity Rules guide
  _documentation/en/verify/code-snippets/cancel-verify-request.md
  _documentation/en/verify/code-snippets/check-verify-request.md
  _documentation/en/verify/code-snippets/send-verify-request-with-workflow.md
  _documentation/en/verify/code-snippets/send-verify-request.md
  _documentation/en/verify/guides/velocity-rules.md
Labels: review-app

#2260 Add New Relic monitoring
  Gemfile
  Gemfile.lock
  config/newrelic.yml
Labels: review-app

#2261 Adds page caching to Markdown#show.
  Gemfile
  Gemfile.lock
  app/controllers/markdown_controller.rb
Labels: review-app

#2263 Prevent current_user and feedback_author from being cached.
  app/views/layouts/partials/_feedback.html.erb
Labels: review-app

#2270 Bump nexmo-oas-renderer.
  Gemfile
  Gemfile.lock
Labels: review-app

#2271 Stop caching markdown#show, it is breaking A/B testing.
  app/controllers/markdown_controller.rb
Labels: review-app

#2269 Remove expiration when caching the sidenav.
  app/views/layouts/documentation.html.erb
Labels: review-app

#2259 Update create app for messages
  _documentation/en/messages/code-snippets/before-you-begin.md
  _documentation/en/messages/code-snippets/client-library.md
  _documentation/en/messages/code-snippets/configure-webhooks.md
  _documentation/en/messages/code-snippets/create-an-application.md
  _documentation/en/messages/code-snippets/inbound-message.md
  _documentation/en/messages/code-snippets/message-status.md
  _partials/reusable/create-a-nexmo-application.md
Labels: Ready for Review, review-app

#2274 Set rubygems version to 3.0.3
  .travis.yml
Labels: review-app

#2276 Added release for 1.2.2
  _documentation/en/client-sdk/sdk-documentation/ios/release-notes.md
Labels: review-app

#2282 Remove invalid redirect and reference to an invalid page.
  config/landing_pages/hacktheburgh2019.yml
  config/redirects.yml
Labels: review-app

#2238 [DEVX-1893] Turn careers page into a table.
  app/assets/stylesheets/layout/_careers.scss
  app/javascript/careers/index.js
  app/javascript/packs/application.js
  app/views/careers/index.html.erb
  app/views/layouts/partials/_header.html.erb
  config/greenhouse_departments.yml
  spec/features/careers_spec.rb
Labels: review-app

#2268 WhatsApp deterministic language policy
  _documentation/en/messages/concepts/whatsapp.md
Labels: Ready for Review, review-app

#2283 Return json when completing an A/B test
  app/controllers/usage/ab_result_controller.rb
  spec/rails_helper.rb
  spec/requests/usage/ab_result_controller_spec.rb
  spec/support/split_helper.rb
Labels: review-app

#2273 Update member.md to reflect Member limit
  _documentation/en/conversation/concepts/member.md
Labels: review-app

#2286 Added release notes for iOS Client SDK 1.2.3
  _documentation/en/client-sdk/sdk-documentation/ios/release-notes.md
Labels: review-app

#2280 OTT-2686 :: Update Viber docs
  _documentation/en/messages/concepts/viber.md
  _documentation/en/messages/overview.md
Labels: review-app

#2267 Point to the knowledge base for an updated list of IP ranges
  .spelling
  _documentation/en/concepts/guides/webhooks.md
Labels: review-app

#2288 Update snippet description to reflect new workflows
  _documentation/en/verify/code-snippets/send-verify-request-with-workflow.md
Labels: review-app

#2293 Added min version of iOS & Android required
  _documentation/en/client-sdk/overview.md
  _documentation/en/client-sdk/setup/add-sdk-to-your-app/ios.md
Labels: WIP - Don't Merge, review-app
