Repository Nexmo/nexmo-developer, pull requests merged in 2019-09, with the labels that each got.

#1936 Basic text formatting note
  .spelling
  _documentation/messages/code-snippets/whatsapp/send-text.md
  app/assets/stylesheets/_core.scss
Labels: help wanted, review-app

#1935 Update nexmo-oas-renderer to 0.4.0
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.css
  app/assets/stylesheets/layout/_api.scss
  app/assets/stylesheets/objects/_tabs.scss
Labels: review-app

#1705 Add Video tile to homepage
  app/assets/stylesheets/objects/_card.scss
  app/views/static/_products.html.erb
  config/navigation.yml
  spec/features/landing_page_spec.rb
Labels: WIP - Don't Merge, review-app

#1953 Add Beth, move Steve
  config/team.yml
  spec/features/team_spec.rb
Labels: review-app

#1949 adding spotlight for donations blurb
  app/views/static/default_landing/partials/_submit_your_idea_form.html.erb
  config/landing_pages/spotlight.yml
Labels: review-app

#1956 Fix Geocoding for events
  Gemfile
  Gemfile.lock
  app/models/event.rb
Labels: review-app

#1957 Add Campus banner
  app/views/layouts/partials/_notices.html.erb
  app/views/layouts/static.html.erb
  app/views/static/landing.html.erb
  public/assets/campus/banner_background.png
  public/assets/campus/icon.svg
Labels: review-app

#1960 Migrate actions
  .github/main.workflow
  .github/workflows/deployment_status.yml
  .github/workflows/pull_request-check-redirects.yml
  .github/workflows/pull_request-pr-edited.yml
Labels: review-app

#1961 Update all actions with trigger conditions
  .github/workflows/deployment_status.yml
  .github/workflows/pull_request-check-redirects.yml
  .github/workflows/pull_request-pr-edited.yml
Labels: review-app

#1971 Move secret management overview
  _documentation/account/overview.md
  _documentation/account/secret-management/overview.md
  config/redirects.yml
Labels: review-app

#1980 Upgrade OAS renderer
  Gemfile
  Gemfile.lock
Labels: review-app

#1975 Android SDK updates for beta
  _tabbed/setup/add-sdk-to-your-app/android.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/android/call-handler-server/Java.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/android/call-handler-server/Kotlin.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/android/click-call-app/Java.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/android/click-call-app/Kotlin.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/android/click-call-phone/Java.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/android/click-call-phone/Kotlin.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/android/login/Kotlin.md
  _tutorials_tabbed_content/client-sdk/guides/start-and-receive-in-app-calls-android/start-server-call/java.md
  _tutorials_tabbed_content/client-sdk/guides/start-and-receive-in-app-calls-android/start-server-call/kotlin.md
Labels: WIP - Don't Merge, review-app

#1976 Move topics as requested in DEVX-1471.
  _documentation/client-sdk/in-app-messaging/guides/ios-in-app-messaging.md
  _documentation/client-sdk/setup/generate-test-credentials.md
  _documentation/conversation/overview.md
  config/redirects.yml
Labels: review-app

#1984 Nexmo Client SDK - v1 IOS docs
  _tabbed/getting-started/app-to-app-call/ios.md
  _tabbed/getting-started/make-phone-call/ios.md
  _tabbed/getting-started/receive-phone-call/ios.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/answer-call/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/answer-call/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/call-delegate/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/call-delegate/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/call-type/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/call-type/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/hangup-call/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/hangup-call/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/login/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/login/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/receive-call/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/receive-call/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/reject-call/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/reject-call/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/start-call/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/start-call/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/started-project/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/in-app-calling-ios/started-project/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/answer/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/answer/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/call-delegate/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/call-delegate/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/hangup/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/hangup/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/login/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/login/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/receive/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/receive/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/reject/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/reject/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/started-project/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/inbound-pstn-ios/started-project/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/call-delegate/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/call-delegate/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/call-type/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/call-type/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/hangup/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/hangup/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/login/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/login/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/start-call/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/start-call/swift.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/started-project/objective-c.md
  _tutorials_tabbed_content/client-sdk/get-started/in-app-voice/outbound-pstn-ios/started-project/swift.md
Labels: review-app

#1982 Native SDKs 1.0.0 release notes
  .spelling
  _documentation/client-sdk/sdk-documentation/android/release-notes.md
  _documentation/client-sdk/sdk-documentation/ios/release-notes.md
Labels: review-app

#1981 Update JS Release Notes for v6.0.0
  _documentation/client-sdk/sdk-documentation/javascript/release-notes.md
Labels: review-app

#1781 Add MermaidJS diagrams
  Gemfile
  Gemfile.lock
  _documentation/account/secret-management/overview.md
  _documentation/concepts/guides/webhooks.md
  _documentation/messaging/sms/guides/delivery-receipts.md
  _documentation/verify/overview.md
  _use_cases/add-a-call-whisper-to-an-inbound-call.md
  _use_cases/call-tracking.md
  _use_cases/fraud-scoring-and-phone-number-verification.md
  _use_cases/mobile-app-invites.md
  _use_cases/private-voice-communication.md
  _use_cases/sms-customer-support.md
  _use_cases/two-factor-authentication.md
  _use_cases/two-way-sms-for-customer-engagement.md
  app/assets/javascripts/application.js
  app/filters/mermaid_filter.rb
  app/javascript/js_sequence_diagrams/index.js
  app/javascript/packs/application.js
  app/pipelines/markdown_pipeline.rb
  app/views/contribute/guides/markdown-guide.md
  config/environments/production.rb
  package.json
  spec/filters/mermaid_filter_spec.rb
  vendor/assets/javascripts/mermaid.js
  yarn.lock
Labels: review-app

#1986 Added wiring for PHP Application V2 Snippets
  _examples/application/create-application/php.yml
  _examples/application/delete-application/php.yml
  _examples/application/get-application/php.yml
  _examples/application/list-applications/php.yml
  _examples/application/update-application/php.yml
Labels: review-app

#1991 Create send media mtm
  _documentation/messages/code-snippets/whatsapp/send-media-mtm.md
Labels: WIP - Don't Merge, review-app

#1993 update android minimum api to 23
  _tabbed/setup/add-sdk-to-your-app/android.md
Labels: review-app

#1992 Client SDK is now Beta
  _documentation/client-sdk/in-app-messaging/overview.md
  _documentation/client-sdk/in-app-voice/overview.md
  _documentation/client-sdk/overview.md
  app/views/static/_products.html.erb
  spec/features/landing_page_spec.rb
Labels: review-app

#1997 Fix nav weight and code block.
  _documentation/messages/code-snippets/whatsapp/send-media-mtm.md
Labels: review-app

#2001 Fix SMS links.
  Gemfile
  Gemfile.lock
  app/models/code_language.rb
  spec/requests/sms/api_spec.rb
Labels: review-app

#2002 Agent canHear and canSpeak
  _examples/voice/guides/ncco-reference/conversation/selective-audio-conference.md
Labels: review-app

#1974 Add Client SDK IP Voice tutorials
  _tutorials/buy-nexmo-number.md
  _tutorials/client-sdk/app-to-phone-code.md
  _tutorials/client-sdk/create-application.md
  _tutorials/client-sdk/create-user.md
  _tutorials/client-sdk/create-webhook-server-app-to-phone.md
  _tutorials/client-sdk/create-webhook-server-phone-to-app.md
  _tutorials/client-sdk/generate-jwt.md
  _tutorials/client-sdk/phone-to-app-code.md
  _tutorials/client-sdk/run-app-to-phone.md
  _tutorials/client-sdk/run-phone-to-app.md
  _tutorials/install-express.md
  _tutorials/install-local-web-server.md
  _tutorials/install-node-client-sdk-beta.md
  _tutorials/install-node-client-sdk.md
  _tutorials/install-node-sdk-beta.md
  _tutorials/link-nexmo-number.md
  _tutorials/olympus/create-application.md
  _tutorials/olympus/link-application-to-facebook.md
  _tutorials/olympus/link-facebook-page.md
  _tutorials/olympus/prereqs.md
  _tutorials/olympus/send-facebook-failover.md
  _tutorials/olympus/write-webhook-server.md
  _tutorials/run-ngrok.md
  config/tutorials/app-to-phone.yml
  config/tutorials/phone-to-app.yml
Labels: Feedback Wanted, WIP - Don't Merge, review-app

#2012 Update JS Release Notes for v6.0.1
  _documentation/client-sdk/sdk-documentation/javascript/release-notes.md
Labels: review-app

#2013 Update SDK docs
  .repos/nexmo/conversation-docs/js/Application.html
  .repos/nexmo/conversation-docs/js/Conversation.html
  .repos/nexmo/conversation-docs/js/ConversationsPage.html
  .repos/nexmo/conversation-docs/js/EventsPage.html
  .repos/nexmo/conversation-docs/js/ImageEvent.html
  .repos/nexmo/conversation-docs/js/Media.html
  .repos/nexmo/conversation-docs/js/Member.html
  .repos/nexmo/conversation-docs/js/NXMCall.html
  .repos/nexmo/conversation-docs/js/NXMEvent.html
  .repos/nexmo/conversation-docs/js/NexmoClient.html
  .repos/nexmo/conversation-docs/js/Recording.html
  .repos/nexmo/conversation-docs/js/TextEvent.html
  .repos/nexmo/conversation-docs/js/application.js.html
  .repos/nexmo/conversation-docs/js/conversation.js.html
  .repos/nexmo/conversation-docs/js/events_image_event.js.html
  .repos/nexmo/conversation-docs/js/events_nxmEvent.js.html
  .repos/nexmo/conversation-docs/js/events_recording.js.html
  .repos/nexmo/conversation-docs/js/events_text_event.js.html
  .repos/nexmo/conversation-docs/js/global.html
  .repos/nexmo/conversation-docs/js/handlers_conversation_events.js.html
  .repos/nexmo/conversation-docs/js/handlers_rtc_events.js.html
  .repos/nexmo/conversation-docs/js/index.html
  .repos/nexmo/conversation-docs/js/member.js.html
  .repos/nexmo/conversation-docs/js/modules_errors_emitter.js.html
  .repos/nexmo/conversation-docs/js/modules_media.js.html
  .repos/nexmo/conversation-docs/js/modules_nxmCall.js.html
  .repos/nexmo/conversation-docs/js/modules_rtc_helper.js.html
  .repos/nexmo/conversation-docs/js/modules_rtcstats_rtcstats.js.html
  .repos/nexmo/conversation-docs/js/nexmoClientError.js.html
  .repos/nexmo/conversation-docs/js/pages_conversations_page.js.html
  .repos/nexmo/conversation-docs/js/pages_events_page.js.html
  .repos/nexmo/conversation-docs/js/pages_page.js.html
  .repos/nexmo/conversation-docs/js/sdk.js.html
  .repos/nexmo/conversation-docs/js/utils.js.html
Labels: review-app

#2014 Fix client sdk node lib install
  _tutorials/install-node-client-sdk-beta.md
  _tutorials/install-node-client-sdk.md
Labels: review-app

#1994 Add support for rendering folders as Tabbed Content
  .spelling
  _documentation/client-sdk/in-app-voice/guides/start-and-receive-calls.md
  _documentation/client-sdk/in-app-voice/guides/start-and-receive-calls/.config.yml
  _documentation/client-sdk/in-app-voice/guides/start-and-receive-calls/android.md
  _documentation/client-sdk/in-app-voice/guides/start-and-receive-calls/ios.md
  _documentation/client-sdk/in-app-voice/guides/start-and-receive-calls/javascript.md
  app/controllers/markdown_controller.rb
  app/filters/heading_filter.rb
  app/filters/tab_filter.rb
  app/helpers/application_helper.rb
  spec/filters/tab_filter_spec.rb
Labels: review-app
